 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 454px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 70px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.4;
  background-image: none;
  margin: 54px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 1175px;
}

.u-section-2 .u-text-1 {
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 50px 12px 0 55px;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  margin: 35px 108px 0;
}

.u-section-2 .u-text-3 {
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 35px 12px 35px 55px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 8px;
    margin-left: 8px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-2 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-text-3 {
    font-size: 1rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 143px;
}

.u-section-3 .u-text-1 {
  margin: 12px 74px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 126px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1084px;
  margin: 1px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 32px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0 56px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 125px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 109px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 101px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 201px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 46px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 40px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 65px;
}

.u-section-5 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 1px auto;
}.u-section-6 .u-sheet-1 {
  min-height: 208px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1084px;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 208px;
}

.u-section-6 .u-container-layout-1 {
  padding: 20px 28px;
}

.u-section-6 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0 28px 0 0;
}

.u-section-6 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 208px;
}

.u-section-6 .u-container-layout-2 {
  padding: 20px;
}

.u-section-6 .u-group-elements-1 {
  width: 244px;
  min-height: 64px;
  margin: 33px auto 0;
}

.u-section-6 .u-icon-1 {
  width: 64px;
  height: 19px;
  margin: 0 0 0 auto;
}

.u-section-6 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: -1px 0 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 301px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 180px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 180px;
  }

  .u-section-6 .u-group-elements-1 {
    width: 226px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 293px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-group-elements-1 {
    width: 164px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    font-size: 1rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 40px;
  }
}.u-section-7 .u-sheet-1 {
  min-height: 65px;
}

.u-section-7 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 1px auto;
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 293px;
}

.u-section-8 .u-layout-wrap-1 {
  width: 1084px;
  margin: 1px auto 1px 28px;
}

.u-section-8 .u-layout-cell-1 {
  min-height: 264px;
}

.u-section-8 .u-container-layout-1 {
  padding: 20px 27px;
}

.u-section-8 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0 0 0 10px;
}

.u-section-8 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-btn-3 {
  background-image: none;
  padding: 0;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 125px;
}

.u-section-8 .u-container-layout-2 {
  padding: 20px;
}

.u-section-8 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 940px;
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 229px;
  }

  .u-section-8 .u-text-1 {
    margin-left: 0;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-8 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    font-size: 1rem;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-8 .u-layout-wrap-1 {
    width: 340px;
  }
}.u-section-9 .u-sheet-1 {
  min-height: 65px;
}

.u-section-9 .u-icon-1 {
  width: 64px;
  height: 64px;
  margin: 1px auto;
}.u-section-10 .u-sheet-1 {
  min-height: 124px;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1084px;
  margin: 0 auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 96px;
}

.u-section-10 .u-container-layout-1 {
  padding: 20px 49px;
}

.u-section-10 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0;
}

.u-section-10 .u-btn-1 {
  background-image: none;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-10 .u-sheet-1 {
    min-height: 384px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 83px;
  }
}

@media (max-width: 991px) {
  .u-section-10 .u-sheet-1 {
    min-height: 376px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-10 .u-sheet-1 {
    min-height: 356px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-10 .u-text-1 {
    width: auto;
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-10 .u-sheet-1 {
    min-height: 358px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 40px;
  }
} .u-section-11 {
  background-image: none;
}

.u-section-11 .u-sheet-1 {
  min-height: 518px;
}

.u-section-11 .u-group-1 {
  width: 1028px;
  min-height: 410px;
  height: auto;
  margin: 54px auto;
}

.u-section-11 .u-container-layout-1 {
  padding: 0 27px 9px;
}

.u-section-11 .u-text-1 {
  padding-left: 24px;
  font-size: 1.25rem;
  margin: 36px 7px 0 0;
}

@media (max-width: 1199px) {
  .u-section-11 .u-group-1 {
    width: 940px;
    height: auto;
  }

  .u-section-11 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-11 .u-group-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-11 .u-group-1 {
    width: 540px;
  }

  .u-section-11 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-11 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-11 .u-group-1 {
    width: 340px;
  }
}.u-section-12 .u-sheet-1 {
  min-height: 145px;
}

.u-section-12 .u-layout-wrap-1 {
  margin-top: 18px;
  margin-bottom: 38px;
}

.u-section-12 .u-layout-cell-1 {
  min-height: 89px;
}

.u-section-12 .u-container-layout-1 {
  padding: 30px 30px 8px;
}

.u-section-12 .u-text-1 {
  font-size: 1.875rem;
  margin: -11px auto 0 0;
}

.u-section-12 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-12 .u-layout-cell-2 {
  min-height: 89px;
}

.u-section-12 .u-container-layout-2 {
  padding: 18px 30px;
}

.u-section-12 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 0 0 auto;
}

.u-section-12 .u-btn-2 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-12 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-12 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 73px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-12 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-12 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-12 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-12 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-12 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-12 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-12 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-12 .u-sheet-1 {
    min-height: 251px;
  }
}