 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 503px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 60px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 60px 30px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 442px;
}

.u-section-2 .u-list-1 {
  grid-template-rows: auto;
  height: auto;
  margin: 27px -13px 40px 13px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 20px);
  grid-gap: 30px 30px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(66,84,101,0.75), rgba(66,84,101,0.75)), url("../images/b914292e97a9bf77de487ccaa4054c15bd676ccfbda887bca9439e21263ae42968cea2063efa368a778b24a7a9ef0def07160822b7d0c725bc0fa1_1280.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 45px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 91px 0 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(66,84,101,0.75), rgba(66,84,101,0.75)), url("../images/1895737b2173ffb9366d42279e9a336c240910d21290079ee9312ace9d11fddb6be33e67b0f0edbc469ba13e17646b87aab5e287f62a40ea7a943f_1280.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 45px;
}

.u-section-2 .u-text-2 {
  font-weight: 700;
  margin: 91px 0 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(66,84,101,0.75), rgba(66,84,101,0.75)), url("../images/27f48a7fa49cd33758e087b65c304616a2e3acdf31186943661773df058638df736e45d372d75d007611505893382871dc8ddc3184bf8ed22a4cb6_1280.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 45px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 91px 0 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(66,84,101,0.75), rgba(66,84,101,0.75)), url("../images/40c3397ebb485ad3780c44336c7470e48dfc21bf6235c6ee243d6f5336d6d7112519150c27e8415237faaab984bbb14faab3e7d035587ce84ef2ca_1280.jpg");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 45px;
}

.u-section-2 .u-text-4 {
  font-weight: 700;
  margin: 91px 0 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(66,84,101,0.75), rgba(66,84,101,0.75)), url("../images/b7d333d40c64a3fb90fa0400133faa0e1adc9dc8bc69fd6bd1705a540f929b50083f3b2eb6fc20b0eb1461f10cbbe402950fbbbc3c2072be10dca6_1280.png");
  background-position: 50% 50%;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 45px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 91px 0 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 169px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    margin-top: 703px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    margin-top: 793px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    margin-top: 703px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    margin-top: 923px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }
}