 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 885px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 70px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1.4;
  background-image: none;
  margin: 54px 30px 0;
}

.u-section-1 .u-text-3 {
  font-size: 1.25rem;
  margin: 30px 107px 39px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-3 {
    margin-left: 7px;
    margin-right: 7px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-1 .u-text-3 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 185px;
}

.u-section-2 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 51px 12px 51px 55px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    font-size: 1rem;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 143px;
}

.u-section-3 .u-text-1 {
  margin: 12px 74px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 143px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1084px;
  margin: 18px auto 0;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 125px;
}

.u-section-4 .u-container-layout-1 {
  padding: 20px 32px;
}

.u-section-4 .u-text-1 {
  font-size: 1.25rem;
  line-height: 1.4;
  margin: 0 56px 0 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 125px;
}

.u-section-4 .u-container-layout-2 {
  padding: 20px;
}

.u-section-4 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: 0 auto;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 126px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 108px;
  }

  .u-section-4 .u-text-1 {
    margin-right: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 108px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 218px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 46px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 40px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 145px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 16px;
  margin-bottom: 40px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 89px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px 30px 8px;
}

.u-section-5 .u-text-1 {
  font-size: 1.875rem;
  margin: -11px auto 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 89px;
}

.u-section-5 .u-container-layout-2 {
  padding: 18px 30px;
}

.u-section-5 .u-text-2 {
  font-size: 1.875rem;
  margin: 0 0 0 auto;
}

.u-section-5 .u-btn-2 {
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 103px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 73px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 73px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 26px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 533px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 251px;
  }
}