 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 390px;
}

.u-section-1 .u-text-1 {
  font-size: 3rem;
  margin: 70px auto 0;
}

.u-section-1 .u-text-2 {
  line-height: 1.4;
  font-size: 1.25rem;
  margin: 51px 30px 21px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-2 {
  background-image: none;
}

.u-section-2 .u-sheet-1 {
  min-height: 443px;
}

.u-section-2 .u-list-1 {
  margin-top: 34px;
  margin-bottom: 34px;
  grid-template-rows: auto;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 20px) calc(33.3333% - 20px) calc(33.3333% - 20px);
  min-height: 375px;
  grid-auto-columns: calc(33.3333% - 20px);
  grid-gap: 30px 30px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../images/mainframe-146403_1280.png");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 45px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  margin: 62px 0 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.25rem;
  line-height: 1;
  margin: 164px 0 0;
}

.u-section-2 .u-icon-1 {
  font-size: 1.5em;
  margin-right: 10px;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../images/pexels-pixabay-2075801.jpg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 45px;
}

.u-section-2 .u-text-3 {
  font-weight: 700;
  margin: 62px 0 0;
}

.u-section-2 .u-text-4 {
  line-height: 1;
  font-size: 1.25rem;
  margin: 164px 0 0;
}

.u-section-2 .u-icon-2 {
  font-size: 1.5em;
  margin-right: 9px;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../images/letter-r-5569133_640.png");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 45px;
}

.u-section-2 .u-text-5 {
  font-weight: 700;
  margin: 62px 0 0;
}

.u-section-2 .u-text-6 {
  font-size: 1.25rem;
  margin: 164px 0 0;
}

.u-section-2 .u-icon-3 {
  font-size: 1.5em;
  margin-right: 9px;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../images/code-820275_1280.jpg");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 45px;
}

.u-section-2 .u-text-7 {
  font-weight: 700;
  margin: 62px 0 0;
}

.u-section-2 .u-text-8 {
  font-size: 1.25rem;
  margin: 164px 0 0;
}

.u-section-2 .u-icon-4 {
  font-size: 1.5em;
  margin-right: 9px;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.75), rgba(0,0,0,0.75)), url("../images/letter-r-5569133_640.png");
  margin-top: 0;
  margin-bottom: 0;
  background-position: 50% 50%;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 45px;
}

.u-section-2 .u-text-9 {
  font-weight: 700;
  margin: 62px 0 0;
}

.u-section-2 .u-text-10 {
  font-size: 1.25rem;
  margin: 164px 0 0;
}

.u-section-2 .u-icon-5 {
  font-size: 1.5em;
  margin-right: 9px;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 172px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(3, calc(33.333333333333336% - 20px));
    grid-auto-columns: calc(33.333333333333336% - 20px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 15px));
    grid-auto-columns: calc(50% - 15px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-text-4 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-text-6 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1rem;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 70px;
    padding-left: 65px;
    padding-right: 65px;
  }

  .u-section-2 .u-text-10 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-repeater-1 {
    grid-auto-columns: 100%;
  }

  .u-section-2 .u-container-layout-1 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-4 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }

  .u-section-2 .u-container-layout-5 {
    padding-top: 80px;
    padding-left: 25px;
    padding-right: 25px;
  }
}